
@{
    ViewBag.Title = "Closed";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}
@model IEnumerable<Gestion_Activos.Models.Ticket>

@Styles.Render("~/bundle/styles/datepickercss")

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-ticket"></i>
                Tickets Atendidos/Cerrados
            </div>
            <div class="box-body" style="min-height:600px;">
                <div class="col-xs-12 col-lg-3">
                    <div class="box-header with-border">
                        <i class="fa fa-calendar"></i>
                        <h3 class="box-title">Seleccione un rango de fechas</h3>
                    </div>
                    <div class="box-body" style="background-color:#F5F5F5">
                        <div class="form-group">
                            <label>Inicio:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker" name="date_start" value="@TempData["f_inicio"]" required>
                            </div><!-- /.input group -->
                        </div>

                        <div class="form-group">
                            <label>Fin:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker1" name="date_end" value="@TempData["f_fin"]" required>
                            </div><!-- /.input group -->
                        </div>  
                    </div>
                    <div class="box-footer" style="background-color:#F5F5F5">
                        <button class="btn btn-success  pull-right" id="btn_search">Buscar</button>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-9">
                    <div class="box-body">
                        <table id="table1" class="table table-bordered table-striped">
                            <thead>
                                <tr class="text-light-blue">
                                    <th>
                                        # Ticket
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.local_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.contact)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.membership_number)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.date)
                                    </th>
                                    <th>
                                        Bitácora
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.local_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.contact)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.membership_number)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.date)
                                            @* convertir a date *@
                                        </td>
                                        <td>
                                            <a class="btn btn-block btn-info btn-sm" href='@Url.Action("Get_Log_Ticket", "Ticket", new { id_ticket = item.id })' target="_blank">
                                                Ver
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="box" id="loading_table" hidden>
                            <div class="box-header">
                                <h3 id="msj-ajax">Cargando datos..</h3>
                            </div>
                            <div class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundle/scripts/datetimejs")
@Scripts.Render("~/bundle/scripts/dataTables")
<script src="@Url.Content("~/Scripts/Views/Ticket/Closed_Ticket.js")" type="text/javascript"></script>